@font-face {
  font-family: "Work-Sans";
  src: url("assets\fonts\WorkSans-Italic-VariableFont_wght.ttf") format("woff");
  src: url("assets\fonts\WorkSans-Italic-VariableFont_wght.ttf") format("woff");
}
