.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 500px;
  margin-top: 190px;
  background-color: rgb(248, 248, 246);
  border-radius: 7px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.title {
  font-family: "Work-Sans";
  font-size: 29px;
  font-weight: 700px;
}
.title_container {
  display: flex;
  justify-content: flex-start;
  font-family: "Work-Sans";
  align-items: center;
  gap: 16px;
  width: 100%;
}

.accordion-header {
  display: flex;
  font-family: "Work-Sans";
  justify-content: center;
  align-items: center;
  gap: 131px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.accordion {
  margin-top: 19px;
  border-bottom: solid 1px #bbbbbb6c;
  width: 100%;
}
